{% extends '::base.mob.html.twig' %}
{% block body %}

{% include 'EventGeneralBundle:Default:top.mob.html.twig' %}

{% include 'EventGeneralBundle:Default:search_form.mob.html.twig' %}

<div class="page-head">
    <h3 class="margin-0" id='afisha_title'>Ближайшие 2 недели</h3>
</div>
<div class="page-head-sub">
    <a id='show_time' href="#" onclick="showTimeWindow()">время</a>
    {% if user_id and my_tags_short is defined and my_tags_short|length > 0 %}<a id='show_my_tags' href="#" onclick="showMyTagsWindow()" {% if tags_name_selected|length > 0 %}class='selected'{% endif %}>мои тэги</a>{% endif %}
    <a id='show_popular_tags' href="#" onclick="showPopularTagsWindow()" {% if tags_name_selected|length > 0 %}class='selected'{% endif %}>популярные тэги</a>
</div>

<div id="no-results" class='text-centered' {% if events|length > 0 %}style='display: none'{% endif %}>
    <h3 class='color-gray-light'>Ой!<br />Событий не найдено</h3>
</div>

<div id="general_events_list">
    {% set i = 0 %}
    
    {% for e in events %}
        <a id="event_{{ e.id }}" href="{{ path('event', { 'year': e.getYear(), 'month': e.getMonth(), 'event_id': e.getUrlId() } ) }}" class="container event-container {% if likes[e.id] is defined and likes[e.id].type == 2 %}hidden{% endif %}" style="background-image: url('{{ asset('uploads/catalog/small_' ~ e.internalId ~ '.jpg') }}')">
            <div id='event-content_{{ e.id }}' class='content {% if likes[e.id] is defined %}likes-show{% endif %}'>
                <div class='head'>
                    <h3>{{ e.shortName(120) }}</h3>
                </div>

                <div class='additional'>
                    <div class='date-time left'>
                        {{ e.shortStartHuman() }}
                    </div>
                    <ul class='tags right'>
                        {% for t in e.getTagsNamesList(0, 10) %}
                            <li {% if tags_name_selected[t] is defined %}class='highlight'{% endif %}>{{ t }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

<script>
    var time_interval = "14d";

    var tags_name_selected = { 
        {% if tags_name_selected|length > 0 %}
            {% for t, v in tags_name_selected %}
                '{{ t }}': 1
                {% if not loop.last %},{% endif %}
            {% endfor %}
        {% endif %}
    };

    var likes = {
        {% for index_id, like in likes %}
            {{ index_id }} : {{ like.type }}
            {% if not loop.last %},{% endif %}
        {% endfor %}
    };

    $( document ).ready(function() {
        updatePeriod();

        $('.music-tag').click(function(e) {
            $('#no-results').hide();

            setTag(this).done(function(data) {
                getAfishaEvents();

                count = 0;
                $.each(tags_name_selected, function(i, e) {
                    if (e == 1) {
                        count++;
                    }
                });

                if (count > 0) {
                    $('#show_my_tags').addClass('selected');
                    $('#show_popular_tags').addClass('selected');
                } else {
                    $('#show_my_tags').removeClass('selected');
                    $('#show_popular_tags').removeClass('selected');
                }
            });

            e.preventDefault();
        });

        $('.time-interval').click(function(e) {
            $("#afisha_title").text($(this).text());
            setPeriod(this); 

            $('#no-results').hide();

            getAfishaEvents();

            e.preventDefault();
        });
    });
</script>

{% include 'EventGeneralBundle:Default:bottom.mob.html.twig' %}

{% endblock %}

