<div class="container">
    <footer id="footer">
        <div class="left sans">
            © 2014 MusicMate 
        </div>
        <navbar class="right navbar navbar-right">
            <ul>
                <li><a href="{{ path('index') }}">Главная</a></li>
                <li><a href="{{ path('afisha') }}">Афиша</a></li>
                <li><a href="{{ path('contacts') }}">Контакты</a></li>
            </ul>
        </navbar>
    </footer>
</div>

<div style='display:none'>
    <div id='login-signup-window' class='text-centered window'>
        <div class="head"><div class="logo-img"></div></div>
        <p class='color-gray-light'>Создайте персональную афишу авторизовавшись через Вконтакте</p>
        <a href="http://oauth.vk.com/authorize?client_id={{ vk_app_id }}&redirect_uri={{ vk_redirect }}&response_type=code&scope={{ vk_scope}}" class='btn btn-vk'><img src="{{ asset('images/logo_vk.png') }}" />Авторизоваться</a>
    </div>
</div>

<script>
var is_mobile = 0;
var user_id = {% if user_id %}{{ user_id }}{% else %}false{% endif %};
var events_offset = {% if events_on_page is defined %}{{ events_on_page }}{% else %}0{% endif %};

var util = { };
util.uploads_catalog = "{{ asset('uploads/catalog/') }}"; 

util.api = { };
util.api.set_tag = "{{ path('set_tag') }}"; 
util.api.unset_tags = "{{ path('unset_tags') }}"; 
util.api.get_general_events = "{{ path('get_general_events') }}"; 
util.api.get_afisha_events = "{{ path('get_afisha_events') }}"; 
util.api.get_personal_afisha_events = "{{ path('personal_afisha') }}";
util.api.get_search_results = "{{ path('get_search_results') }}";
util.api.get_sync_status = "{{ path('sync_status') }}";
util.api.like = "{{ path('like_event') }}";
util.api.update_email = "{{ path('updateUserEmail') }}";
util.api.update_settings = "{{ path('updateUserSettings') }}";

$( "#top-search" ).autocomplete({
    source: function (request, response) {
        $.getJSON("{{ path('search_autocomplete') }}", { 'term': request.term }, function (data) {
            response($.map(data.events, function (e) {
                return {
                    label: e.name,
                    value: e.internal_id,
                    info: e
                };
            }));
        });
    },

    select: function ( event, ui ) {
        return false;
    },

    minLength: 2,
})
.data( "ui-autocomplete" )._renderItem = function( ul, item ) {
    var info = item.info;

    return $( "<li>" )
        .append( " \
            <a href='"+ info.link +"'> \
            <div class='complete-wrap'> \
                <div class='artist'> \
                    " + item.label + " \
                </div> \
                <div class='date color-gray-light'>" + info.start_short + "</div> \
            </div> \
            <small class='color-gray-light'>" + info.tags_full.join(', ') + "</small> \
            </a> \
        " )
        .appendTo( ul );
};

</script>
