{% include 'EventGeneralBundle:Default:search_form.mob.html.twig' %}

<div class="page-head">
    <h3 class='margin-bottom-d1'>Персональная афиша</h3>
</div>
<div class="page-head-sub">
    <a href="#" onclick="showTimeWindow()">время</a>
    {% if my_tags_short is defined and my_tags_short|length > 0 %}<a href="#" id='show_my_tags' onclick="showMyTagsWindow()" {% if tags_name_selected|length > 0 %}class='selected'{% endif %}>мои тэги</a>{% endif %}
    <a href="#" id='show_popular_tags' onclick="showPopularTagsWindow()" {% if tags_name_selected|length > 0 %}class='selected'{% endif %}>популярные тэги</a>
</div>

<div id="no-results" class='text-centered' style='display: none'>
    <h3 class='color-gray-light'>Ой!<br />Событий не найдено</h3>
</div>

<div id="first-time" class='text-centered first-time' style='display: none'>
    <hgroup>
        <h3 class='color-gray-light header'>Роботы слушают музыку!</h3>
        <h3 id="sync-status" class='subheading'>Статус синхронизации</h3>
    </hgroup>
    <small class='color-gray '>Сейчас мы анализируем ваш плейлист в социальной сети и подбираем лучшие концерты, которые могут вас заинтересовать. <br /><br />Первый раз это может занять несколько минут. Спасибо за ожидание :-)</small>
</div>

<div id="general_events_list">
</div>

<div style='display:none'>
    <div id='email-window' class='text-centered'>
            <h3>Спасибо за регистрацию!</h3>
            <p class='color-gray'>
                Последний шаг - подтверждение email. 
                <br />
                Укажите вашу актуальную почту:
            </p>
            <label>
                <input type="email" id="user-email" name="user-email" class="width-100" style='width:100%' value="{{ user.email }}" />
            </label>
            <p>
                <a href="#" onclick="submitUserEmail(); return false;" class="btn btn-green width-100">Сохранить</a>
            </p>
        </div>
    </div>
</div>

<script>
    var check_status_timer = { };
    var sync_status = {{ sync.status }};
    var is_sync_now = {% if sync.status == 1 %}0{% else %}1{% endif %};
    var processing = false;
    var time_interval = "all";

    var first_time = {{ app.session.flashbag.get('first_time')|length }};

    var tags_name_selected = { 
        {% if tags_name_selected|length > 0 %}
            {% for t, v in tags_name_selected %}
                '{{ t }}': 1
                {% if not loop.last %},{% endif %}
            {% endfor %}
        {% endif %}
    };

    var likes = {
        {% for index_id, like in likes %}
            {{ index_id }} : {{ like.type }}
            {% if not loop.last %},{% endif %}
        {% endfor %}
    };

    $( document ).ready(function() {
        updatePeriod();

        if (sync_status != 1) {
            checkSyncStatus();
        } else {
            showPersonalAfisha();
        }

        if (first_time == 1) {
            $.fancybox.open('#email-window', {
                'autoScale': true,
                'autoDimensions': true,
                'closeBtn': false,
                'centerOnScroll': true, 
                'padding': 0, 
                'helpers': {
                    'overlay': {
                        'css': {
                            'background': 'rgba(0, 0, 0, 0.3)'
                        }
                    }
                }
            });
        }

        $('.time-interval').click(function(e) {
            $("#afisha_title").text($(this).text());
            setPeriod(this); 

            showPersonalAfisha();

            e.preventDefault();
        });

        $('.music-tag').click(function(e) {
            setTag(this).done(function() {
                showPersonalAfisha();

                count = 0;
                $.each(tags_name_selected, function(i, e) {
                    if (e == 1) {
                        count++;
                    }
                });

                if (count > 0) {
                    $('#show_my_tags').addClass('selected');
                    $('#show_popular_tags').addClass('selected');
                } else {
                    $('#show_my_tags').removeClass('selected');
                    $('#show_popular_tags').removeClass('selected');
                }
            });

            e.preventDefault();
        });
    });

</script>
