{% include 'EventGeneralBundle:Default:search_form.mob.html.twig' %}

<div class="page-head">
    <h2>Персональная афиша</h2>
</div>
<div class="page-head-sub">
    <small><a href="#" onclick="showTimeWindow()">время</a></small>
    <small><a href="#" onclick="showMyTagsWindow()">мои тэги</a></small>
    <small><a href="#" onclick="showPopularTagsWindow()">популярные тэги</a></small>
</div>

<div id="no-results" class='text-centered' style='display: none'>
    <h3 class='color-gray-light'>Ой!<br />Событий не найдено</h3>
</div>

<div id="first-time" class='text-centered first-time' style='display: none'>
    <hgroup>
        <h3 class='color-gray-light'>Роботы слушают музыку!</h3>
        <h3 id="sync-status" class='subheading'>Статус синхронизации</h3>
    </hgroup>
    <small class='color-gray'>Сейчас мы анализируем ваш плейлист в социальной сети и подбираем лучшие концерты, которые могут вас заинтересовать. <br /><br />Первый раз это может занять несколько минут. Спасибо за ожидание :-)</small>
</div>

<div id="general_events_list">
</div>

<script>
    var check_status_timer = { };
    var sync_status = {{ sync.status }};
    var processing = false;
    var time_interval = "all";

    var first_time = {{ app.session.flashbag.get('first_time')|length }};

    var tags_name_selected = { 
        {% if tags_name_selected|length > 0 %}
            {% for t, v in tags_name_selected %}
                '{{ t }}': 1
                {% if not loop.last %},{% endif %}
            {% endfor %}
        {% endif %}
    };

    var likes = {
        {% for index_id, like in likes %}
            {{ index_id }} : {{ like.type }}
            {% if not loop.last %},{% endif %}
        {% endfor %}
    };

    $( document ).ready(function() {
        updatePeriod();

        if (sync_status != 1) {
            checkSyncStatus();
        } else {
            showPersonalAfisha();
        }

        if (first_time == 1) {
            $.fancybox.open('#email-window', {
                'autoScale': true,
                'autoDimensions': true,
                'closeBtn': false,
                'centerOnScroll': true, 
                'padding': 0, 
                'helpers': {
                    'overlay': {
                        'css': {
                            'background': 'rgba(0, 0, 0, 0.3)'
                        }
                    }
                }
            });
        }

        $('.time-interval').click(function(e) {
            $("#afisha_title").text($(this).text());
            setPeriod(this); 

            showPersonalAfisha();

            e.preventDefault();
        });

        $('.music-tag').click(function(e) {
            setTag(this).done(function() {
                showPersonalAfisha();
            });

            e.preventDefault();
        });
    });

</script>
