<div class="container" >
    <header id="logo-box">
        <div class="units-row">
            <div class="unit-50">
                <a href="{{ path('index') }}" id="logo"></a>
                <nav class="navbar" style='float: left;'>
                    <ul>
                        <li {% if top is defined and top == 'index' %}class='selected'{% endif %}><a href="{{ path('index') }}">Главная</a></li>
                        <li style="margin-right: none" {% if top is defined and top == 'afisha' %}class='selected'{% endif %}><a href="{{ path('afisha') }}">Афиша</a></li>
                    </ul>
                </nav>
            </div>
            <div class="unit-50">
                <div class='right'>
                    <form action="{{ path('search') }}" id="search_form" class="left">
                        <input name="query" id='top-search' type="text" class="input-search" placeholder="Искать концерты" value="{% if query is defined %}{{ query }}{% endif %}" />
                    </form>


                    {% if not user_id %}
                        <a onclick="showLoginSignupWindow()" class="btn btn-green">Войти</a>
                    {% else %}
                        <a href="{{ path('profile') }}" id="avatar" style="background-image: url('{{ user.getAdditionalInfo('photo_50') }}')"></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
</div>

<div id="fb-root"></div>
<script>
    VK.init({
        apiId: {{ vk_app_id }},
        onlyWidgets: true
    });


    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&appId=625421864138311&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
