{% extends '::base.html.twig' %}
{% block body %}

{% include 'EventGeneralBundle:Admin:admin_menu.html.twig' %}

<h1>Add artist</h1>

<div style='width: 700px; margin-right: 20px; float: left;'>
<table class='settings'>
<form id="general_form" action="{{ path('add_artist') }}" method="post" {{ form_enctype(form) }} novalidate>
    <thead>
        <td colspan="2">
            Artst add 
        </td>
    </thead>
    <tbody>
        <tr>
            <td><b>Name</b></td>
            <td>{{ form_widget(form.name) }}</td>
        </tr>
        <tr>
            <td><b>URL Name</b></td>
            <td>{{ form_widget(form.urlName) }}</td>
        </tr>
        <tr>
            <td><b>MBID</b></td>
            <td>{{ form_widget(form.mbid) }}</td>
        </tr>
        <tr>
            <td><b>Keywords</b></td>
            <td class='small_textarea'>{{ form_widget(form.keywords ) }}</td>
        </tr>
        <tr>
            <td><b>Genres</b></td>
            <td>{{ form_widget(form.genres) }}</td>
        </tr>
        <tr>
            <td><b>Tags</b></td>
            <td class='small_textarea'>

                <ul id="artist_tags" class='tagit'>
                </ul>

            </td>
        </tr>
        <tr>
            <td colspan="2"><b>Description</b></td>
        </tr>
        <tr>
            <td colspan="2">{{ form_widget(form.description) }}</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center">
                {{ form_rest(form) }}
                <input type="button" onclick="preSubmit()" value="Save" />
            </td>
        </tr>
    </tbody>
</table>
</div>

<script>
$(document).ready(function () {
    $("#event_generalbundle_artist_genres").tokenInput("{{ path('genres') }}");

    // Tags
    $('#artist_tags').tagit({
        singleField: 1,
        allowSpaces: 1,
        fieldName: 'tags',
    });
});

function preSubmit() {
    $("#event_generalbundle_artist_tags").val( $("[name='tags']").val() );
    $("#general_form").submit();
}

</script>

{% endblock %}
