{% extends '::base.html.twig' %}
{% block body %}

<div class='admin_container'>

{% include 'EventGeneralBundle:Admin:admin_menu.html.twig' %}

<table class='top_menu'>
    <tr>
        <td><a href="{{ path('admin_log') }}">All</a></td>
        <td><a href="{{ path('admin_log') }}?report=1">Reports</a></td>
        <td><a href="{{ path('admin_log') }}?moderator=content2">content2</a></td>
        <td><a href="{{ path('admin_log') }}?moderator=content3">content3</a></td>
    </tr>
</table>

<table class='events'>
    <thead>
        <tr>
            <td style='width: 10%'>время</td>
            <td style='width: 12%'>действие</td>
            <td style='width: 70%'>описание</td>
            <td style='width: 10%'>менеджер</td>
        </tr>
    </thead>
    <tbody>
        {% set i = 0 %}

        {% for dt, e_id in agg_log %}
            <tr>
                <td colspan="11" class='date' style='background: #ccc'><h5>{{ dt }}</h5></td>
            </tr>
 
            {% for l in agg_log[dt] %}
                <tr 
                        {% if l.type == 1 %}
                            style='background-color: #ecffa7'
                        {% elseif l.type == 2 %}
                            style='background-color: #e0f294'
                        {% elseif l.type == 3 %}
                            style='background-color: #cfe66e'
                        {% elseif l.type == 6 %}
                            style='background-color: #ffcbcb'
                        {% elseif l.type == 8 %}
                            style='background-color: #ff4040'
                        {% elseif l.type == 9 %}
                            style='background-color: #5dcfc3'
                        {% endif %}
                
                >
                    <td style='border: none'>{{ l.getHumanDateTime() }}</td>
                    <td style='border: none'>
                        {% if l.type == 1 %}
                            create place
                        {% elseif l.type == 2 %}
                            create artist
                        {% elseif l.type == 3 %}
                            approve event
                        {% elseif l.type == 4 %}
                            grab report 
                        {% elseif l.type == 5 %}
                            tickets report 
                        {% elseif l.type == 6 %}
                            error report 
                        {% elseif l.type == 7 %}
                            daily report 
                        {% elseif l.type == 8 %}
                            cancel event 
                        {% elseif l.type == 9 %}
                            save text
                        {% endif %}
                    </td>
                    <td style='border: none'>
                        {% if l.type == 1 %}
                            Created place: <a href="{{ path('place', { id: l.getInfoVal('place_id') }) }}">{{ l.getInfoVal('place_name') }}</a>
                        {% elseif l.type == 2 %}
                            Created artist: <a href="{{ path('artist', { id: l.getInfoVal('artist_id') }) }}">{{ l.getInfoVal('artist_name') }}</a>
                        {% elseif l.type == 3 %}
                            Approve event: <a href="{{ path('internal_event', { id: l.getInfoVal('event_id') }) }}">{{ l.getInfoVal('event_name') }}</a>
                        {% elseif l.type == 4 %}
                            Provider: <b>{{ providers[ l.getInfoVal('provider') ].name }}</b>
                            <li>New: <b>{{ l.getInfoVal('new') }}</b></li>
                            <li>Exists: {{ l.getInfoVal('exists') }}</li>
                        {% elseif l.type == 5 %}
                            <div class='ticket-report'>
                                <b>Update</b> 
                                {% if l.getInfoVal('update') and l.getInfoVal('update')|length %}
                                    {% for p_id, val in l.getInfoVal('update')|sort %}
                                        <li>{{ providers[ p_id ].name }}: {{ val }}</li>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class='ticket-report'>
                                {% if l.getInfoVal('save') and l.getInfoVal('save')|length %}
                                    <b>New</b> 
                                    {% for p_id, val in l.getInfoVal('save')|sort %}
                                        <li>{{ providers[ p_id ].name }}: {{ val }}</li>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class='ticket-report'>
                                <b>Off</b> 
                                {% if l.getInfoVal('off') and l.getInfoVal('off')|length %}
                                    {% for p_id, val in l.getInfoVal('off')|sort %}
                                        <li>{{ providers[ p_id ].name }}: {{ val }}</li>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% elseif l.type == 6 %}
                                <a href="{{ path('provider_event', { "id" : l.getInfoVal('event') }) }}" target="_blank">EVENT {{ l.getInfoVal('event') }}</a> - <a target="_blank" href="{{ l.getInfoVal('link') }}">{{ l.getInfoVal('link') }}</a> : {{ l.getInfoVal('error') }}

                        {% elseif l.type == 7 %}
                            <b>Внутренние события</b>
                            <li>New: {{ l.getInfoVal('internal').new }}</li>
                            <li>Wait: {{ l.getInfoVal('internal').wait }}</li>
                            <li>Total: {{ l.getInfoVal('internal').total }}</li>
                            <br />
                            <b>События провайдеров</b>
                            <li>New: {{ l.getInfoVal('provider').new }}</li>
                            <li>Total: {{ l.getInfoVal('provider').total }}</li>
                            <br />
                            <b>Билеты</b>
                            <li>New: {{ l.getInfoVal('tickets').new }}</li>
                            <li>Total: {{ l.getInfoVal('tickets').total }}</li>
                            <br />
                            <b>Пользователи</b>
                            <li>New: {{ l.getInfoVal('users').new }}</li>
                            <li>Total: {{ l.getInfoVal('users').total }}</li>
                        {% elseif l.type == 8 %}
                            Cancel event: <a href="{{ path('internal_event', { id: l.getInfoVal('event_id') }) }}">{{ l.getInfoVal('event_name') }}</a>

                        {% elseif l.type == 9 %}
                            Save text: <a href="{{ path('internal_event', { id: l.getInfoVal('event_id') }) }}">{{ l.getInfoVal('event_name') }}</a>
                        {% endif %}
                    </td>
                    <td style='border: none'>
                        {% if l.getInfoVal('admin') %}
                            {{ l.getInfoVal('admin') }}

                            {% if is_moderator and l.type == 3 %}
                                ({{ sum_approved - i }})
                                {% set i = i + 1 %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

        {% endfor %}
    </tbody>
</div>

{% endblock %}
