{% extends '::base.html.twig' %}
{% block body %}

{% include 'EventGeneralBundle:Admin:admin_menu.html.twig' %}

<h4 class='head_internal'>Внешнее событие</h4>
<h1>
    {{ event.id }}. {{ event.name }}
    <br />
    ({{ event.getHumanDate }})
</h1>

{% if not is_text %}
    {% include 'EventGeneralBundle:Admin:internal_event_form_full.html.twig' %}
{% else %}
    {% include 'EventGeneralBundle:Admin:internal_event_form_text.html.twig' %}
{% endif %}

<script>
$(document).ready(function () {
    $("#artist").tokenInput("{{ path('search_artists') }}", {
        tokenLimit: 1
    });

    // Tags
    $('#tags').tagit({
        singleField: 1,
        allowSpaces: 1,
        fieldName: 'tags',
    });
});

function preSubmit() {
    $("#event_generalbundle_internalevent_tags").val( $("[name='tags']").val() );
    $("#general_form").submit();
}

function suggestTags() {
    {% for a in event.getArtistsList() %}
        {% for t in artists[ a ].getTagsList %}
            $("#tags").tagit("createTag", "{{ tags[ t ].name }}");
        {% endfor %}
    {% endfor %}
}

// Crop
var image_sizes = { 'small': 0.888, 'medium': 1.784, 'big': 1.06, 'medium2': 1.413 };
var selected_size = 'small';

$.each(image_sizes, function(size, ratio) {
    $("#image_" + size).change(function() {
        $("#" + size + "_preview").hide();
        readURL(this, size, ratio);
    });
});

function readURL(input, size, ratio) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#' + size + '_target').attr('src', e.target.result);

            $('#' + size + '_image_width').val( $('#' + size + '_target').width() );
            $('#' + size + '_image_height').val( $('#' + size + '_target').height() );

            selected_size = size;

            jQuery(function($) {
                    $('#' + size + '_target').Jcrop({
                        onSelect: updateCoords,
                        aspectRatio: ratio 
                    });
            });
        }

        reader.readAsDataURL(input.files[0]);
    }
}

function updateCoords(c) {
    $('#' + selected_size + '_x').val(c.x);
    $('#' + selected_size + '_y').val(c.y);
    $('#' + selected_size + '_w').val(c.w);
    $('#' + selected_size + '_h').val(c.h);
};

tinymce.init({
    selector: "textarea#event_generalbundle_internalevent_description"
});

</script>

{% endblock %}
