{% extends '::base.html.twig' %}
{% block body %}

{% include 'EventGeneralBundle:Admin:admin_menu.html.twig' %}

<h4 class='head_internal'>Внешнее событие</h4>
<h1>
    {{ event.id }}. {{ event.name }}
    <br />
    ({{ event.getHumanDate }})
</h1>

<div style="width: 700px">
    {% if tooltip_events|length > 0 %}
        <table class='tooltip'>
            <thead>
                <tr>
                    <td colspan="6">Подсказки событий провайдеров</td>
                </tr>
            </thead>
            <tbody style='font-size: 12px;'>
                {% for pe in tooltip_events %}
                    {% if pe.place == event.place %}
                        <tr>                        
                            <td>{{ pe.id }}</td>
                            <td>
                                <a href="{{ path('provider_event', { 'id': pe.id }) }}">{{ pe.name }}</a>
                            </td>
                            <td>{{ places[ pe.place ].name }}</td>
                            <td>{{ pe.getHumanStart() }}</td>
                            <td><a target="_blank" href="{{ pe.link }}">{{ providers[ pe.provider ].name }}</a></td>
                            <td>
                                [ <a href="{{ path('match_event', { 'id': pe.id }) }}?internal_id={{ event.id }}&return_to_internal={{ event.id }}">склеить</a> ]
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

<div style='width: 700px; margin-right: 20px; float: left;'>

    <form id="general_form" action="{{ path('internal_event', { 'id': id }) }}" method="post" {{ form_enctype(form) }} novalidate>

    <table class='settings'>
        <thead>
            <td colspan="2">
                <h5>Параметры внутреннего события</h5>
            </td>
        </thead>
        <tbody>
            <tr>
                <td><b>Название</b></td>
                <td>{{ form_widget(form.name) }}</td>
            </tr>
            <tr>
                <td {% if not event.urlName %}class='notice-warning'{% endif %}><b>Название в URL</b></td>
                <td>{{ form_widget(form.urlName) }}</td>
            </tr>
            <tr>
                <td style='width: 20%'><b>Статус</b></td>
                <td style='width: 60%'
                    {% if event.getStatus() == 0 %}
                        class='notice-yellow'
                    {% elseif event.getStatus() == 1 %}
                        class='notice-green'
                    {% elseif event.getStatus() == 2 %}
                        class='warning'
                    {% elseif event.getStatus() == 3 %}
                        class='notice-black'
                    {% endif %} >
                    {{ event.getStatusName() }}
                </td>
            </tr>
            <tr>
                <td style='width: 20%'><b>Место</b></td>
                <td style='width: 60%'><a href="{{ path('place', { 'id': event.place }) }}">{{ places[ event.place ].name }}</a></td>
            </tr>
            <tr>
                <td><b>Дата</b></td>
                <td>{{ form_widget(form.date) }}</td>
            </tr>
            <tr>
                <td><b>Время и дата</b></td>
                <td>{{ form_widget(form.start) }}</td>
            </tr>
            <tr>
                <td><b>Продолжительность</b></td>
                <td>{{ form_widget(form.duration) }}</td>
            </tr>
            <tr>
                <td {% if not event.catalogRate or event.catalogRate == 0 %}class='notice-warning'{% endif %}><b>Catalog Rate</b> (0-5)</td>
                <td>{{ form_widget(form.catalogRate) }}</td>
            </tr>
            <tr>
                <td><b>Стиль оформления</b></td>
                <td>{{ form_widget(form.style) }}</td>
            </tr>
            <tr>
                <td><b>Medium оформление</b></td>
                <td>{{ form_widget(form.theme) }}</td>
            </tr>
            <tr>
                <td><b>Big оформление</b></td>
                <td>{{ form_widget(form.bigTheme) }}</td>
            </tr>
            <tr>
                <td {% if not event.video  %}class='notice-warning'{% endif %}>
                    <b>Видео</b>
                    <br />
                    <small>(url разделенные запятой: xxx,yyy)</small>
                </td>
                <td>{{ form_widget(form.video) }}</td>
            </tr>
            <tr>
                <td {% if event.getTagsList()|length == 0  %}class='notice-warning'{% endif %}><b>Тэги</b></td>
                <td class='small_textarea'>
                    <ul id="tags" class='tagit'>
                        {% for t in event.getTagsList() %}
                            <li>{{ tags[t].name }}</li>
                        {% endfor %}
                    </ul>

                    {% if event.getArtistsList()|length > 0 %}
                        <div>
                            <input type="button" value="suggest" onclick="suggestTags()" />
                        </div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2" {% if not event.description or event.description|length < 100 %}class='notice-warning'{% endif %}><b>Описание</b></td>
            </tr>
            <tr>
                <td colspan="2">{{ form_widget(form.description) }}</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    {{ form_rest(form) }}
                    <input type="button" onclick="preSubmit()" class="btn width-100" value="Сохранить" />
                </td>
            </tr>
        </tbody>
    </table>

    </form>

    <div class="col span_8_of_12 event-content">
        <table class='settings'>
            <thead>
                <td>Картинки</td>
            </thead>
            <tbody>
                <form action="{{ path('crop_image') }}" method="post" enctype='multipart/form-data'>
                    <input type="hidden" id="small_x" name="x" />
                    <input type="hidden" id="small_y" name="y" />
                    <input type="hidden" id="small_w" name="w" />
                    <input type="hidden" id="small_h" name="h" />

                    <input type="hidden" name="t_w" value="231" />
                    <input type="hidden" name="t_h" value="260" />

                    <input type="hidden" id="small_image_width" name="iw" />
                    <input type="hidden" id="small_image_height" name="ih" />

                    <input type="hidden" value="{{ event.id }}" name="id" />
                    <input type="hidden" value="catalog" name="image_type" />
                    <input type="hidden" value="small" name="type" />

                    <tr>
                        <td {% if not event.getAdditional('catalog-image-small') %}class='notice-warning'{% else %}class='notice-green'{% endif %}><b>Image Catalog Small</b> (231 x 260)</td>
                    </tr>
                    <tr>
                        <td>
                            <input class='btn btn-blue' type="file" name="image" id="image_small">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn width-100 crp" value="CROP" />
                            <img src="" id="small_target" />

                            <a id="small_preview" href="#" class="col span_3_of_12 event-block" style="background-image: url('{{ asset('uploads/catalog/small_' ~ event.id ~ '.jpg') }}')">
                                <div class='event-content'>
                                    <div class='head'>
                                        <h3>{{ event.shortName(120) }}</h3>
                                    </div>

                                    <div class='additional'>
                                        <div class='date-time left'>
                                            {{ event.shortStartHuman() }}
                                        </div>
                                        <ul class='tags right'>
                                            {% for t in event.getTagsList()|slice(0,2) %}
                                                <li>{{ tags[t].name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                </form>

                <form action="{{ path('crop_image') }}" method="post" enctype='multipart/form-data'>
                    <input type="hidden" id="medium_x" name="x" />
                    <input type="hidden" id="medium_y" name="y" />
                    <input type="hidden" id="medium_w" name="w" />
                    <input type="hidden" id="medium_h" name="h" />

                    <input type="hidden" name="t_w" value="474" />
                    <input type="hidden" name="t_h" value="260" />

                    <input type="hidden" id="medium_image_width" name="iw" />
                    <input type="hidden" id="medium_image_height" name="ih" />

                    <input type="hidden" value="{{ event.id }}" name="id" />
                    <input type="hidden" value="catalog" name="image_type" />
                    <input type="hidden" value="medium" name="type" />

                    <tr>
                        <td {% if not event.getAdditional('catalog-image-medium') %}class='notice-warning'{% else %}class='notice-green'{% endif %}><b>Image Catalog Medium</b> (474 x 260)</td>
                    </td>
                    <tr>
                        <td>
                            <input class='btn btn-blue' type="file" name="image" id="image_medium">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn width-100 crp" value="CROP" />
                            <img src="" id="medium_target" />

                            <a id="medium_preview" href="#" class="col span_6_of_12 event-block" style="background-image: url('{{ asset('uploads/catalog/medium_' ~ event.id ~ '.jpg') }}')">
                                <div class='event-content'>
                                    <div class='head'>
                                        <h3>{{ event.shortName(120) }}</h3>
                                    </div>

                                    <div class='additional'>
                                        <div class='date-time left'>
                                            {{ event.shortStartHuman() }}
                                        </div>
                                        <ul class='tags right'>
                                            {% for t in event.getTagsList()|slice(0,3) %}
                                                <li>{{ tags[t].name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                </form>

                <form action="{{ path('crop_image') }}" method="post" enctype='multipart/form-data'>
                    <input type="hidden" id="medium2_x" name="x" />
                    <input type="hidden" id="medium2_y" name="y" />
                    <input type="hidden" id="medium2_w" name="w" />
                    <input type="hidden" id="medium2_h" name="h" />

                    <input type="hidden" id="medium2_image_width" name="iw" />
                    <input type="hidden" id="medium2_image_height" name="ih" />

                    <input type="hidden" name="t_w" value="636" />
                    <input type="hidden" name="t_h" value="450" />

                    <input type="hidden" value="{{ event.id }}" name="id" />
                    <input type="hidden" value="event" name="image_type" />
                    <input type="hidden" value="medium" name="type" />

                    <tr>
                        <td {% if not event.getAdditional('event-image-medium') %}class='notice-warning'{% else %}class='notice-green'{% endif %}><b>Image Event Medium</b> (636 x 450)</td>
                    </tr>
                    <tr>
                        <td>
                            <input class='btn btn-blue' type="file" name="image" id="image_medium2">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn width-100 crp" value="CROP" />
                            <img src="" id="medium2_target" />

                            <div id="medium2_preview"  style="background-image: url('{{ asset('uploads/event/medium_' ~ event.id ~ '.jpg') }}')" class='event-title-medium text-centered
                                {% if event.theme == 1 %}
                                    event-white
                                {% endif %}
                            '>
                                <div class='border'>
                                    <div class="title">
                                        <p>{{ event.fullStartHuman() }}</p>
                                        <h1>{{ event.name }}</h1>
                                        <h5>{{ places[ event.place ].name }}</h5>
                                    </div>
                                    <div class='buttons text-centered'>
                                        <a href="#" class='like icon-40 margin-right-10 like-icon'></a>
                                        <a href="#" class='dislike icon-40 dislike-icon'></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </form>


                <form action="{{ path('crop_image') }}" method="post" enctype='multipart/form-data'>
                    <input type="hidden" id="big_x" name="x" />
                    <input type="hidden" id="big_y" name="y" />
                    <input type="hidden" id="big_w" name="w" />
                    <input type="hidden" id="big_h" name="h" />

                    <input type="hidden" id="big_image_width" name="iw" />
                    <input type="hidden" id="big_image_height" name="ih" />

                    <input type="hidden" name="t_w" value="636" />
                    <input type="hidden" name="t_h" value="600" />

                    <input type="hidden" value="{{ event.id }}" name="id" />
                    <input type="hidden" value="event" name="image_type" />
                    <input type="hidden" value="big" name="type" />

                    <tr>
                        <td {% if not event.getAdditional('event-image-big') %}class='notice-warning'{% else %}class='notice-green'{% endif %}><b>Image Event Big</b> (636 x 600)</td>
                    </tr>
                    <tr>
                        <td>
                            <input class='btn btn-blue' type="file" name="image" id="image_big">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn width-100 crp" value="CROP" />
                            <img src="" id="big_target" />

                            <div id="big_preview" style="background-image: url('{{ asset('uploads/event/big_' ~ event.id ~ '.jpg') }}')" class='event-title text-centered
                                {% if event.bigTheme == 1 %}
                                    event-big-white
                                {% endif %}
                            '>
                                <div class='border'>
                                    <div class="title">
                                        <p>{{ event.fullStartHuman() }}</p>
                                        <h1>{{ event.name }}</h1>
                                        <h5>{{ places[ event.place ].name }}</h5>
                                    </div>
                                    <div class='buttons'>
                                        <a href="#" class='dislike icon-40 right margin-right-10 dislike-icon'></a>
                                        <a href="#" class='like icon-40 right margin-right-10 like-icon'></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>
</div>

<div style='width: 450px; float: left;'>
    <table class='settings'>
        <thead>
            <td colspan="2"><h5>Действия</h5></td>
        </thead>
        <tbody>
            <tr>
                <td>
                    <b>Изменить место</b>
                    <form action="{{ path('change_internal_event_place', { 'id': id }) }}" method="post" novalidate>
                        <select name="place">
                            {% for p in places %}
                                {% if p.status == 1 %}
                                    <option value="{{ p.id }}">{{ p.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input type="submit" value="Изменить" />
                    </form>
                </td>
            </tr>

            {% if event.status != 0 %}
                <tr>
                    <td><a href="{{ path('wait_internal_event', { 'id': id }) }}">В ожидание</a></td>
                </tr>
            {% endif %}

            {% if event.status != 1 %}
                <tr>
                    <td><a href="{{ path('work_internal_event', { 'id': id }) }}">В работу</a></td>
                </tr>
            {% endif %}

            {% if event.status != 2 %}
                <tr>
                    <td><a href="{{ path('cancel_internal_event', { 'id': id }) }}">Отменить событие</a></td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <table class='settings'>
        <thead>
            <tr>
                {% if event.getArtistsList()|length > 0 %}
                    <td colspan="3"><h5>Артисты</h5></td>
                {% else %}
                    <td colspan="3" class='warning'><h5>Артисты</h5></td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">
                    <form action="{{ path('add_artist_to_internal', { 'id': id }) }}" method="post" novalidate>
                        <input type="text" style='width: 200px;' id="artist" name="artist">
                        <input type="submit" value="Добавить" class="btn">
                    </form>
                </td>
            </tr>
            {% for a in event.getArtistsList() %}
                <tr>
                    <td> 
                        <b><a href="{{ path('artist', { 'id': a }) }}">{{ artists[ a ].name }}</a></b> 
                    </td>
                    {% if artists[ a ].getTags %}
                        <td>
                            {% for t in artists[ a ].getTagsList %}
                                {{ tags[ t ].name }}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </td>
                    {% else %}
                        <td class="warning">
                            no tags!
                        </td>
                    {% endif %}
                    <td>
                        [ <a href="{{ path('drop_artist_from_internal', { 'id': event.id }) }}?artist={{ a }}">drop</a> ]
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3">
                    [ <a href="{{ path('add_artist') }}">Создать нового артиста</a> ]
                </td>
            </tr>
        </tbody>
    </table>

    <table class='settings' style='font-size: 12px;'>
        <thead>
            <tr>
                <td colspan="5"><h5>Перенести в другое событие</h5></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>
                        <small>введите идентификатор внутреннего события</small>
                    </p>
                    <form action="{{ path('move_event', { 'id': event.id }) }}" method="post" novalidate>
                        <input name="to_id" type="text" /> 
                        <input type="submit" value="Склеить" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    {% if matched|length > 0 %}
        <table class='settings' style='font-size: 12px;'>
            <thead>
                <tr>
                    <td colspan="5"><h5>События провайдеров</h5></td>
                </tr>
                <tr>
                    <td style='width: 5%'>состояние</td>
                    <td style='width: 40%'>название</td>
                    <td style='width: 10%'>провайдер</td>
                    <td style='width: 20%'>статус</td>
                    <td style='width: 20%'>действия</td>
                </tr>
            </thead>
            <tbody>
                {% for m in matched %}
                    <tr>
                        {% if matched_events[m.getProviderId].status == 1 and m.status == 1  %}
                            <td class='notice-green'>on</td>
                        {% else %}
                            <td class='notice-warning'>off</td>
                        {% endif %}
                        <td>
                            <a style='color: {% if m.status == 0 %}red{% elseif m.status == 1 %}green{% endif %}' 
                            href="{{ path('provider_event', { 'id': m.getProviderId }) }}">{{ matched_events[m.getProviderId].name }}</a>
                        </td>
                        <td>
                            <a href="{{ matched_events[m.getProviderId].link }}" target="_blank">
                                {{ providers[ matched_events[m.getProviderId].getProvider ].getName() }}
                            </a>
                        </td>
                        <td 
                            {% if matched_events[m.getProviderId].status == 0 %}
                                class='notice-pink'
                            {% elseif matched_events[m.getProviderId].status == 1 %}
                                class='notice-green'
                            {% elseif matched_events[m.getProviderId].status == 2 %}
                                class='notice-warning'
                            {% elseif matched_events[m.getProviderId].status == 3 %}
                                class='notice-yellow'
                            {% elseif matched_events[m.getProviderId].status == 4 %}
                                class='notice-orange'
                            {% elseif matched_events[m.getProviderId].status == 5 %}
                                class='notice-black'
                            {% endif %} >
                            {{ matched_events[m.getProviderId].getStatusName() }} 
                        </td>
                        <td>
                            [ <a href="{{ path('unmatch_provider_event', { 'id': m.getProviderId }) }}?return_to_internal={{ event.getId() }}">отклеить</a> ]
                            <br />
                            {% if m.status == 0 %}
                                [ <a href="{{ path('change_match_status', { 'id': m.id, 'status': 1 }) }}">одобрить</a> ]
                            {% elseif m.status == 1 %}
                                [ <a href="{{ path('change_match_status', { 'id': m.id, 'status': 0 }) }}">скрыть</a> ]
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <table class='settings'>
        <thead>
            <tr>
                <td colspan="6"><h5>Билеты</h5></td>
            </tr>
            <tr>
                <td style='width: 3%'>id</td>
                <td style='width: 5%'>провайдер</td>
                <td style='width: 40%'>сектор</td>
                <td style='width: 5%'>min</td>
                <td style='width: 5%'>max</td>
                <td style='width: 20%'>действия</td>
            </tr>
        </thead>
        <tbody style='font-size: 12px;'>
            {% for p_id, ts in tickets %}
                {% for t in ts %}
                    <tr> 
                        <td {% if t.status == 0 %}class="notice-warning"{% endif %}>
                            {{ t.id }}
                        </td>
                        <td>
                            {{ providers[ matched_events[ p_id ].provider ].name }} 
                        </td>
                        <td>{{ t.sector }}</td>
                        <td>{{ t.priceMin}}</td>
                        <td>{{ t.priceMax }}</td>
                        <td>
                            {% if t.status == 1 %}
                                [ <a href="{{ path('change_ticket_status', { 'id': t.id, 'status': 0 }) }}?return_to_internal={{ event.id }}">hide</a> ]
                            {% else %}
                                [ <a href="{{ path('change_ticket_status', { 'id': t.id, 'status': 1 }) }}?return_to_internal={{ event.id }}">show</a> ]
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
<div>

<script>
$(document).ready(function () {
    $("#artist").tokenInput("{{ path('search_artists') }}", {
        tokenLimit: 1
    });

    // Tags
    $('#tags').tagit({
        singleField: 1,
        allowSpaces: 1,
        fieldName: 'tags',
    });
});

function preSubmit() {
    $("#event_generalbundle_internalevent_tags").val( $("[name='tags']").val() );
    $("#general_form").submit();
}

function suggestTags() {
    {% for a in event.getArtistsList() %}
        {% for t in artists[ a ].getTagsList %}
            $("#tags").tagit("createTag", "{{ tags[ t ].name }}");
        {% endfor %}
    {% endfor %}
}

// Crop
var image_sizes = { 'small': 0.888, 'medium': 1.784, 'big': 1.06, 'medium2': 1.413 };
var selected_size = 'small';

$.each(image_sizes, function(size, ratio) {
    $("#image_" + size).change(function() {
        $("#" + size + "_preview").hide();
        readURL(this, size, ratio);
    });
});

function readURL(input, size, ratio) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#' + size + '_target').attr('src', e.target.result);

            $('#' + size + '_image_width').val( $('#' + size + '_target').width() );
            $('#' + size + '_image_height').val( $('#' + size + '_target').height() );

            selected_size = size;

            jQuery(function($) {
                    $('#' + size + '_target').Jcrop({
                        onSelect: updateCoords,
                        aspectRatio: ratio 
                    });
            });
        }

        reader.readAsDataURL(input.files[0]);
    }
}

function updateCoords(c) {
    $('#' + selected_size + '_x').val(c.x);
    $('#' + selected_size + '_y').val(c.y);
    $('#' + selected_size + '_w').val(c.w);
    $('#' + selected_size + '_h').val(c.h);
};

tinymce.init({
    selector: "textarea#event_generalbundle_internalevent_description"
});

</script>

{% endblock %}
