{% extends '::base.html.twig' %}
{% block body %}

<div class='admin_container'>

{% include 'EventGeneralBundle:Admin:admin_menu.html.twig' %}

<table class='top_menu'>
    <tr>
        {% if internal_status == 1 %}
            <td><a href="{{ path('internal_events') }}?status={{ internal_status }}">All</a></td>

            {% if not suspicious %}
                <td><a href="{{ path('internal_events') }}?status={{ internal_status }}&suspicious=1">Suspicious</a></td>
            {% else %}
                <td><b>Suspicious</b></td>
            {% endif %}

            {% if not no_approved %}
                <td><a href="{{ path('internal_events') }}?status={{ internal_status }}&no_approved=1">Не одобренные</a></td>
            {% else %}
                <td><b>Не одобренные</b></td>
            {% endif %}

            {% if not by_rate %}
                <td><a href="{{ path('internal_events') }}?status={{ internal_status }}&by_rate=1">Catalog Rate</a></td>
            {% else %}
                <td><b>Rate</b></td>
            {% endif %}

            {% if not no_text %}
                <td><a href="{{ path('internal_events') }}?status={{ internal_status }}&no_text=1">Админка текстов</a></td>
            {% else %}
                <td><b>Админка текстов</b></td>
            {% endif %}
        {% endif %}
    </tr>
</table>

{% if internal_status == 0%}
<div style='text-align: right; margin: 5px;'>
    [ <a href="{{ path('work_all_internal_events') }}">all to work</a> ]
</div>
{% endif %}

{% if not by_rate %}
    {% include 'EventGeneralBundle:Admin:internal_normal.html.twig' %}
{% else %}
    {% include 'EventGeneralBundle:Admin:internal_rate.html.twig' %}
{% endif %}

</div>

{% endblock %}
