{% extends '::base.html.twig' %}
{% block body %}

{% include 'EventGeneralBundle:Admin:admin_menu.html.twig' %}

<table class='top_menu'>
    <tr>
        <td {% if place_status == -1 %}class='selected'{% endif %}><a href="{{ path('places') }}">All</a></td>
        <td {% if place_status == 1 %}class='selected'{% endif %}><a href="{{ path('places') }}?status=1">Approved</a></td>
        <td {% if place_status == 0 %}class='selected'{% endif %}><a href="{{ path('places') }}?status=0">Hidden</a></td>
    </tr>
</table>

<table class='events'>
    <thead>
        <tr>
            <td style='width: 3%'>id</td>
            <td style='width: 40%'>name</td>
            <td style='width: 10%'>address</td>
            <td style='width: 10%'>metro</td>
            <td style='width: 10%'>url</td>
            <td style='width: 10%'>phone</td>
            <td style='width: 10%'>lat</td>
            <td style='width: 10%'>lon</td>
            <td style='width: 10%'>zoom</td>
        </tr>
    </thead>
    <tbody>
        {% for p in places %}
            <tr>
                <td>{{ p.id }}</td>
                <td {% if p.status == 0 %}class="notice-pink"{% endif %}><a href="{{ path('place', { "id": p.id }) }}">{{ p.name }}</a></td>

                {% if p.address is not defined or p.address == '' %}
                    <td style="background: red"></td>
                {% else %}
                    <td>+</td>
                {% endif %}

                {% if p.metro is not defined or p.metro == '' %}
                    <td style="background: red"></td>
                {% elseif p.metro == 'Авиамоторная' %}
                    <td style="background: pink"></td>
                {% else %}
                    <td>+</td>
                {% endif %}

                {% if p.url is not defined or p.url == '' %}
                    <td style="background: red"></td>
                {% else %}
                    <td>+</td>
                {% endif %}

                {% if p.phone is not defined or p.phone == '' %}
                    <td style="background: red"></td>
                {% else %}
                    <td>+</td>
                {% endif %}

                {% if p.latitude is not defined or p.latitude == '' %}
                    <td style="background: red"></td>
                {% else %}
                    <td>+</td>
                {% endif %}

                {% if p.longitude is not defined or p.longitude == '' %}
                    <td style="background: red"></td>
                {% else %}
                    <td>+</td>
                {% endif %}

                {% if p.zoom is not defined or p.zoom == '' %}
                    <td style="background: red"></td>
                {% else %}
                    <td>+</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
