{% extends '::base.html.twig' %}
{% block body %}

{% include 'EventGeneralBundle:Admin:admin_menu.html.twig' %}

<h4 class='head_provider'>Событие провайдера</h4>
<h1>{{ event.id }}. {{ event.name }}<br />({{ event.getHumanDate() }})</h1>

<div style="width: 700px">
    {% if event.status == 3 %}
        <table class='tooltip'>
            <thead>
                <tr>
                    <td><h5>Подсказки мест</h5></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="background-color: #fffc73">
                        Текущее место: {{ event.placeText }}
                        [ <a href="{{ path('create_place', { 'provider_event': event.id }) }}">создать место</a> ] 
                    </td>
                </tr>

                {% if tips_place|length > 0 %}
                    {% for k, v in tips_place %}
                        <tr>
                            <td>
                                <a href="{{ path('place', { 'id': k }) }}">{{ v.name }}</a> ({{ v.dist }}%)
                                [ <a href="{{ path('change_provider_event_place', { 'id': id }) }}?place={{ k }}">сопоставить</a> ] 
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
         </table>

    {% elseif event.status == 4 %}

        <table class='tooltip'>
            <thead>
                <tr>
                    <td colspan="5">Подсказки внутренних событий</td>
                </tr>
            </thead>
            <tbody style='font-size: 12px;'>
                <tr>
                    <td style="background-color: #fffc73" colspan="5">
                        <a href="{{ path('create_internal_event') }}?provider_event={{ id }}">Создать внутреннее событие</a>
                    </td>
                </tr>
                {% for ie in internal_events %}
                    {% if ie.place == event.place %}
                        <tr>                        
                            <td>{{ ie.id }}</td>
                            <td>
                                <a href="{{ path('internal_event', { 'id': ie.id }) }}">{{ ie.name }}</a>
                            </td>
                            <td>{{ places[ ie.place ].name }}</td>
                            <td>{{ ie.getHumanStart() }}</td>
                            <td>
                                [ <a href="{{ path('match_event', { 'id': id }) }}?internal_id={{ ie.id }}">склеить</a> ]
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

<div style='width: 700px; margin-right: 20px; float: left;'>

<form action="{{ path('provider_event', { 'id': id }) }}" method="post" {{ form_enctype(form) }} novalidate>
{{ form_errors(form) }}
    <table class='settings'>
        <thead>
            <td colspan="2">
                <h5>Параметры события провайдера</h5>
            </td>
        </thead>
        <tbody>
            <tr>
                <td><b>Название</b></td>
                <td>{{ form_widget(form.name) }}</td>
            </tr>
            <tr>
                <td style='width: 20%'><b>Статус</b></td>
                {% if event.status == 0 %}
                    <td class='notice-pink' style='width: 60%'>{{ event.getStatusName() }}</td>
                {% elseif event.status == 1 %}
                    <td class='notice-green' style='width: 60%'>
                        {{ event.getStatusName() }}

                        {% if matched|length > 0 %}
                            <ul style="margin-bottom: 0px;">
                                {% for m in matched %}
                                    <li style="margin-bottom: 0px;">
                                        <a style='color: {% if m.status == 0 %}red{% elseif m.status == 1 %}green{% endif %}' 
                                        href="{{ path('internal_event', { 'id': m.getInternalId }) }}">{{ matched_events[ m.getInternalId ].name }} ({{ matched_events[ m.getInternalId ].getHumanDate() }})</a>
                                        [ <a href="{{ path('unmatch_provider_event', { 'id': id }) }}">расклеить</a> ]
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>

                {% elseif event.status == 2 %}
                    <td class='warning' style='width: 60%'>{{ event.getStatusName() }}</td>
                {% elseif event.status == 3 %}
                    <td class='notice-orange' style='width: 60%'>{{ event.getStatusName() }}</td>
                {% elseif event.status == 4 %}
                    <td class='notice-yellow' style='width: 60%'>{{ event.getStatusName() }}</td>
                {% elseif event.status == 5 %}
                    <td class='notice-black' style='width: 60%'>{{ event.getStatusName() }}</td>
                {% else %}
                    <td style='width: 60%'>{{ event.getStatusName() }}</td>
                {% endif %}
            </tr>
            <tr>
                <td style='width: 20%'><b>Провайдер</b></td>
                <td style='width: 60%'><b>{{ providers[ event.provider ].name }}</b></td>
            </tr>
            <tr>
                <td style='width: 20%'><b>Ссылка</b></td>
                <td style='width: 60%'><a target='_blank' href="{{ event.link }}">{{ event.link }}</a></td>
            </tr>
            <tr>
                <td style='width: 20%'><b>Место</b></td>
                <td style='width: 60%' 
                    {% if event.place and places[ event.place ].status != 1 %}
                        class="notice-pink"
                    {% elseif not event.place %}
                        class="notice-warning"
                    {% endif %}>
                    {% if not event.place %}
                        {{ event.placeText }} 
                    {% else %}
                        <a href="{{ path('place', { 'id': event.place }) }}">{{ places[ event.place ].name }}</a>
                        <div class='tip'>{{ event.placeText }}</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><b>Дата</b></td>
                <td>{{ form_widget(form.date) }}</td>
            </tr>
            <tr>
                <td><b>Дата и время</b></td>
                <td>{{ form_widget(form.start) }}</td>
            </tr>
            <tr>
                <td><b>Длительность</b></td>
                <td>{{ form_widget(form.duration) }} часа</td>
            </tr>
            <tr>
                <td><b>Описание</b></td>
                <td>{{ form_widget(form.description) }}</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    {{ form_rest(form) }}
                    <input type="submit" class="btn width-100" value="Сохранить параметры" />
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</div>

<div style='width: 450px; float: left;'>
    <table class='settings'>
        <thead>
            <td colspan="2"><h5>Действия</h5></td>
        </thead>
        <tbody>
            <tr>
                <td>
                    <b>Изменить место</b>
                    <form action="{{ path('change_provider_event_place', { 'id': id }) }}" method="post" novalidate>
                        <select name="place">
                            {% for p in places %}
                                {% if p.status == 1 %}
                                    <option value="{{ p.id }}">{{ p.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input type="submit" value="Изменить" />
                    </form>
                </td>
            </tr>

            {% if event.status == 1 and matched|length > 0 %}
                    <tr>
                        <td> 
                            <a href="{{ path('matched_provider_event', { 'id': id }) }}">Отклеить событие</a>
                        </td>   
                    </tr>
            {% endif %}

            <tr>
                <td>
                    <b>Склеить с внутренним событием</b>
                    <p>
                        <small>введите идентификатор внутреннего события</small>
                    </p>
                    <form action="{{ path('match_event', { 'id': id }) }}" method="post" novalidate>
                        <input name="internal_id" type="text" /> 
                        <input type="submit" value="Склеить" />
                    </form>
                </td>
            </tr>

            {% if event.status != 2 %}
                <tr>
                    <td> 
                        <a href="{{ path('cancel_provider_event', { 'id': id }) }}">Отменить событие</a>
                    </td>   
                </tr>
            {% endif %}
        </tbody>
    </table>

    <table class='settings'>
        <thead>
            <tr>
                <td colspan="5">Билеты</td>
            </tr>
            <tr>
                <td style='width: 3%'>id</td>
                <td style='width: 40%'>сектор</td>
                <td style='width: 5%'>min</td>
                <td style='width: 5%'>max</td>
                <td style='width: 20%'>действие</td>
            </tr>
        </thead>
        <tbody style='font-size: 12px;'>
            {% for t in tickets %}
                <tr> 
                    <td {% if t.status == 0 %}class="notice-warning"{% endif %}>
                        {{ t.id }}
                    </td>
                    <td>{{ t.sector }}</td>
                    <td>{{ t.priceMin}}</td>
                    <td>{{ t.priceMax }}</td>
                    <td>
                        {% if t.status == 1 %}
                            [ <a href="{{ path('change_ticket_status', { 'id': t.id, 'status': 0 }) }}">скрыть</a> ]
                        {% else %}
                            [ <a href="{{ path('change_ticket_status', { 'id': t.id, 'status': 1 }) }}">включить</a> ]
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
